body {
    color:white;
    font-family: 'Orbitron', sans-serif;
    background-image: url("dog.gif");
    background-size: cover;
}
.title {
    text-align: center;
    text-shadow: 1px 1px 3px black;
}
.btn {
    padding: 6px 12px;
    font-weight: bold;
    background-color: white;
    border: none;
    font-family: inherit;
    color: black;
    box-shadow: 2px 2px 1px black;
}
.line {
    text-decoration: underline 4px rgb(240, 126, 66);
}
#pee {
    width: 100px;
    border-radius: 88%;
    border: 1px dotted white;
}
.ari {
    text-indent: 80px;
    margin: 0px auto;
    display: flex;
    justify-content: right;
    text-align: center;
    text-shadow: 1px 1px 3px black;
}
#ugh {
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
    text-shadow: 1px 1px 3px black;
}